/*global css*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 15px;
	font-family: "concert one", sans-serif;
	color: white;
}

body{
	height: 100%;
	width: 100%;
	background: url("images/bg-image-mobile3.jpg")no-repeat center fixed;
	background-size: cover;
}

a{
	text-decoration: none;
	color: blue;
}

p{
	font-size: 1.6rem;
	font-weight: 300;
}

img{
	width: 100%;
}

.section-heading h1{
	font-size: 2rem;
	bottom: .3rem;
}
.section-heading h6{
	font-size: 1rem;
	opacity: .4;
}

hr{
	border-top: 3px dashed white;
	border-right: 3px;
	border-radius: 30%;
	margin-top: 5rem;
	margin-left: 10%;
	margin-right: 10%
}

/*end global css*/

/* header css*/

header{
	width: 100%;
	height: 100vh;
	background: url("images/header-image.jpg")no-repeat center fixed;
	background-size: cover;
}

.top-nav{
	height: 100vh;
	width: 100%;
	position: relative;
	top: -100vh;
	background-color: #33cccc;
	border-bottom-right-radius: 100%; 
	border-bottom-left-radius: 100%; 
	transition: all 650ms cubic-bezier(1,0,0,1);
	z-index: 20;
}

.nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1500;
	justify-content: center;
	align-items: center;
}

li{
	margin: 0 2rem;
}

.nav-link{
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	padding: 1rem;
}

li a:hover,
li a:focus{
	background: linear-gradient(to left,red, yellow);
}

.top-nav.open{
	top: 0;
	border-radius: initial;
}

.menu-toggler{
	position: fixed;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition:  650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-450deg);
}
.bar{
	background: linear-gradient(to right,red, yellow);
	width: 100%;
	height: 15px;
	border-radius: 5rem;
}

.bar.half{
	width: 50%;
}
.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.52); 
}
.open.bar.start{
	transform: rotate(-450deg) translateX(1.4rem);
}

.bar.end{
	transform-origin: left;
	align-self: flex-end;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.52); 
}

.open.bar.end{
	transform: rotate(-450deg) translateX(-.8rem);
}

.header-text{
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	z-index: 15;
}

.header-text h1{
	font-size: 5rem;
	font-family: "Gt Walsheim", sans-serif;
	padding: 1rem;
	color: black;
}

.header-text h6{
	font-family: "Time Roman", sans-serif;
	font-size: 2rem;
	font-stretch: all;
	font-weight: 300;
	color: white;
}
/*end of header*/

/*about section*/

.about .container{
	margin-top: 5rem;
	display: flex;
	align-items:  center;
	justify-content: center;
}
.profile-image{ 
	flex: 1;
	margin: 5rem;
}

.profile-image img{ 
	border-radius: 20%;
	border-spacing: 2px;
}

.profile-text .section-heading{
	text-align: center;
	line-height: 0;
	margin-bottom: 6rem;
	text-transform: uppercase;
}

.profile-text .section-heading h1{
	font-size: 8rem;
	opacity: .4;
	color: white;
}

.profile-text h6{
	font-size: 4rem;
	color: yellow;
	opacity: 1;
}

.profile-text{
	flex: 1;
}

.profile-text p{
	font-size: 1rem;
	color: white;
	font font-family: "Roboto", sans-serif;
}
.social-icons{
	margin-top: 3rem;
	display: flex;
	transition: color 650ms ease-out;
}

.social-icons a:hover{
	background: white;
}

.icon-link{
	font-size: 1rem;
	transition: color 650ms;
}

.icon-link i{
	font-size: 2rem;
	transition: color 650ms;
}

.icon-link a{
	font-size: 2.3rem;
	color: black;
}

.fa-linkedin:hover{
	color: red;
}
.fa-facebook:hover{
	color: yellow;
}
.fa-github:hover{
	color: green;
}
/*end of about section*/


/*skill section*/

.skills .section-heading{
	margin-top: 10rem;
}

.skills .section-heading{
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.skills-row{
	display: flex;
	align-items:  center;
	justify-content: center;
	margin-bottom: 3rem;
}

.skills-row div{
	margin-right: 3rem;
	margin-left: 2rem;
}

.skills-row .image-container{
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	border-style: solid;
	border-color: #ff5c33;
	border-width: 100%;
	width: 10rem;
	height: 10rem;
	background-color: #cce6ff; 
	transform: rotate(45deg);
}
.skills-row i{
	font-size: 6rem;
	transform: rotate(-45deg);
	margin: auto;
	color: #660066;
}

.skills-row h1{
	padding-top: 2rem;
	margin-top: .8rem;
	text-align: left;
	text-transform: capitalize;
}

.skills-row .even-row h1{
	margin-top: 2rem;
	text-align: right;
}
/*end of skill section*/


/*project section*/
.projects .section-heading{
	margin-top: 10rem;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.projects .my-projects{
	display: flex;
	align-items: center; 
	justify-content: center;
	margin: 0 2rem 5rem 2rem;
}

.my-projects{
	margin-bottom: 0;
}

.projects-img{
	flex: 1;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.projects-img img{
	#width: 30rem;
	border-radius: 10px;
}

.projects-description h1{
	text-transform: uppercase;
	text-align: center;
	color: #ffffb3;
	word-spacing: .1rem;
	font-style: bold;
	font-weight: 1000;
}

.projects-description h4{
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	word-spacing: .2rem;
	color: #ffffb3;
	opacity: .7;
	font-style: italic;
}

.left-image{
	margin-right: 3rem;
}

.projects-points{
	list-style-type: square;
	padding: 20px;
	text-align: justify;
}

.projects-points li{
	margin-top: 1rem;
}

.view-details{
	color: black;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #ffbf80;
	transition: color 650ms ease-out; 
	border-color: black;
	border-width: .1rem;
	border-style: dotted;
	border-radius: 5px;
	border-top: .5rem;
	margin: auto;
}

.projects-points p{
	font-family: sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1.4rem;
	text-transform: capitalize;
}
/*end if project section*/


.experience .section-heading{
	margin-top: 10rem;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.experience .section-heading h1{
	opacity: 1;
}
.timeline ul{
	border-left: 4px solid yellow;
	border-radius: .8rem;
	background-color: #e6f2ff;
	margin: 0 auto;
	position: relative;
	padding: 5rem;
	list-style-type: circle solid red;
	text-align: left;
	width: 70%; 
	color: black;
}

.timeline h1{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 1rem;
	opacity: .5;
	color: black;
}

.timeline .date{
	border-bottom: 1px solid yellow;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}

.timeline .date:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.timeline .date::before{
	content: attr(data-date);
	left: -21rem;
	text-align: right;
	min-width: 12rem;
	font-style: bold;
}

/*experience section*/
footer h1{
	font-size: 1rem;
	margin-top: 4rem;
	text-transform: uppercase;
}
.made-by{
	margin-top: 2rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-icons{
	margin: 2rem;
	font-size: 4rem;
}
.fa-html5:hover{
	color: red;
}
.fa-css3-alt:hover{
	color: yellow;
}
.fa-js-square:hover{
	color: green;
}
.copyright{
	position: relative;
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	padding: 2rem 0;
}

footer p{
	font-style: italic;
	font-size: 1rem;
}
/*footer section*/


/*end of footer section*/

/*end of experience section*/
/*media queries*/

@media screen and (max-width: 640px){
	.menu-toggler{
		top: 2rem;
		right: 2rem;
	}
	body{
		margin: 0;
		background: url("images/bg-image-mobile1.jpg") no-repeat center fixed;
		background-size: cover;
	}
	.header-text h1{
		font-size: 2rem;
		color: black;
	}

	.header-text h6{
		font-family: 'Concert One',sans-serif;
		font-size: 1.4rem;
		font-weight: 300;
		color: white;
		word-spacing: .5rem;
	}
	.nav-list{
		flex-direction: column;

	}
	.nav-list li{
		margin: 2rem 0;
	}
	.nav-link{
		font-size: 3.5rem;
	}
	.profile-text .section-heading h1{
		font-size: 4rem;
		opacity: .4;
		color: white;
	}

	.profile-text .section-heading h6{
		font-size: 2rem;
		color: white;
		opacity: 1;
	}

	.section-heading h1{
	font-size: 3.2rem;
	bottom: .3rem;
	}
	.section-heading h6{
		font-size: 1,4rem;
		opacity: .6;
	}

	.social-icons{
		margin-top: 2.5rem;
		flex-direction: row;\
		color: white;
		transition: color 650ms ease-out;
	}

	.icon-link i{
		font-size: 1.5rem;
	}
	.icon-link a{
		font-size: 1.7rem; 
	}

	

	.about .container{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.fa-facebook{
		color: #001a33;
	}
	.fa-linkedin{
		color: #80bfff;
	}
	.fa-github{
		color: #000000;
	}

	.about p{
		text-align: center;
		font-size: 1rem;
		font-family: sans-serif;
	}

	.profile-image img{
		margin: 0 0 2rem 0;
		border-radius: 50px;
		border-top: 5px solid white;
		border-bottom: 5px solid white;
	}

	hr{
		border-color: red;
	}

	.skills .container{
		align-items: center;
		justify-content: center;
		padding: 0px;
		flex-direction: column;
	}

	.skills-row {
		display:inline-flex;
		margin-bottom: 2rem;
		justify-content: center;
	}

	.skills-row div{
		margin-right: 1rem;
		margin-left: 1em;
	}
	.skills-row .image-container{
		margin; 0;
	}

	.skills-row .image-container{
		width: 6rem;
		height: 6rem;
	}
	.skills-row i{
		font-size: 3.5rem;
		transform: rotate(-45deg);
		margin: auto;
		color: #660066;
	}

	.projects .my-projects{
		flex-direction: column;
		margin: 0 0rem 2rem 0rem;
	}

	.left-image{
		margin-right: 0rem;
	}

	.projects .container{
		display: flex;
		flex-direction: column;
	}
	.projects img{
		width: 50%;
		margin: 0;
		opacity: .7;
		order: 1;
	}

	.projects-points{
		list-style-type: upper-alpha;
		padding: 2px;
		text-align: left;
		margin: 0;
	}

	.projects-description{
		margin: 0;
		order: 2;
	}

	.projects p{
		font-family: "Roboto", Monaco, monospace;
		margin-bottom: 5px;
	}

	.my-projects{
		padding-bottom: : 3rem;
	}
	.my-projects:nth-child(3){
		margin-bottom: 0;
	}

	.timeline p{
		font-size: .8rem;
	}

	.timeline h1{
		font-size: 1.2rem;
	}
	.timeline ul{
		margin: 0 0 0 auto;
		padding-left:0;
		padding-right:0;
		text-align: center;
	}
	.timeline a{
		text-transform: uppercase;
		color: #00b8e6;
		font-style: bold;
		font-weight: 700;
		word-spacing: .1rem;
	}
	.view-details{
		border-bottom: 2px solid red;
		font-size: 1.2rem;
	}

	.timeline .date::before{
		font-size: .7rem;
		padding-left: 6.8rem;
	}

}
/*end of media querie*/
